.academics-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/image/school.jpeg);
}

.academics-page .card-img-overlay {
    background-color: rgba(5, 10, 35, 0.7);
}

.academics-page .card:hover {
    cursor: pointer;
}